.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}
  
.header-logo {
    background-color: #ff7f7f;
    height: 35px;
    animation: logo 8s infinite linear;
}
  
@keyframes logo {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
}
  